<div class="hero-unit">
  <h1>Welcome to Tick Tock!</h1>
  <p>Tick Tock is the twitter client that keeps you refreshing your browser around the clock!</p>
  <%= link_to("Sign in with Twitter", "/auth/twitter", :class => "btn btn-primary") %>
</div>
